audeer==2.2.0
audformat==1.3.1
audinterface==1.2.2
audiofile==1.5.0
audmath==1.4.1
audobject==0.7.11
audresample==1.3.3
blinker==1.8.2
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==5.0.0
fonttools==4.54.1
importlib_metadata==8.5.0
iso3166==2.1.1
iso639-lang==2.4.2
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonpointer==2.1
kiwisolver==1.4.7
MarkupSafe==3.0.1
matplotlib==3.9.2
numpy==2.1.2
openpyxl==3.1.5
opensmile==2.5.0
oyaml==1.0
pandas==2.2.3
pillow==10.4.0
pyarrow==17.0.0
pydub==0.25.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytube @ git+https://github.com/giacaglia/pytube.git@47c0b249ca032f8112ee9218da79dbfee1596ad5
pytz==2024.2
PyYAML==6.0.2
scikit-learn==1.5.2
scipy==1.14.1
setuptools==69.5.1
soundfile==0.12.1
threadpoolctl==3.5.0
tzdata==2024.2
Werkzeug==3.0.4
wheel==0.43.0
xgboost==2.1.1
zipp==3.20.2
