.voice-check {
  align-self: stretch;
  position: relative;
}
.how-was-your {
  margin: 0;
}
.how-was-your-container {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-black);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: #e3f5ff;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 203px;
  height: 204px;
}
.microphone-3-icon {
  position: absolute;
  top: 64.2px;
  left: 75.5px;
  width: 51.8px;
  height: 75.5px;
  object-fit: cover;
}
.ellipse-parent {
  width: 203px;
  position: relative;
  height: 204px;
}
.frame-inner {
  align-self: stretch;
}
.frame-button,
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child1 {
  left: 163px;
}
.frame-group {
  width: 286px;
  position: relative;
  height: 39px;
}
.voice-check-parent {
  width: 337px;
  height: 572px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}
.back {
  position: absolute;
  top: 72px;
  left: 9px;
  font-weight: 600;
  display: inline-block;
  width: 75px;
  cursor: pointer;
}
.group-inner {
  position: absolute;
  top: 58.5px;
  left: 2.5px;
  border-top: 7px solid var(--color-lightskyblue);
  box-sizing: border-box;
  width: 64px;
  height: 7px;
}
.screenshot-2023-12-20-at-9303 {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 49px;
  object-fit: cover;
}
.back-parent {
  width: 84px;
  position: absolute;
  margin: 0 !important;
  top: 86px;
  left: 88px;
  height: 97px;
  z-index: 1;
  text-align: left;
  font-size: 18px;
  color: #616161;
}
.voice-analysis-child {
  cursor: pointer;
  z-index: 2;
}
.voice-analysis {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1188px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 61px;
  text-align: center;
  font-size: 25px;
  color: var(--color-darkslategray);
  font-family: var(--font-noto-sans);
}
